<h1><i class="fas fa-keyboard renuo-green"></i> Forms</h1>
<%= turbo_frame_tag 'form-frame', class: 'flexible flex-column' do %>
  <p>
    The controller will elaborate this submission as TURBO_STREAM.
    After submission, the controller will re-render the <code>form_frame</code> partial.
    Check the controller implementation.
    <strong><%= @user.first_name %> <%= @user.last_name %></strong>
  </p>
  <%= form_for @user, url: '/home/form_submission', remote: true do |f| %>
    <div class="mb-3">
      <%= f.text_field :first_name, placeholder: 'First name', class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= f.text_field :last_name, placeholder: 'Last name', class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= f.button class: 'btn btn-primary' do %>
        <%=spinner %>
        <span class="show-when-enabled">Submit</span>
      <% end %>
    </div>
  <% end %>
<% end %>

